@model CategoryViewModel



@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<div class="container">
    <br />
    <form method="post">
        <label>Kategori Adı</label>
        <input type="text" class="form-control" asp-for="Name" />
        <br />
        <label>Kategori Açıklaması</label>
        <input type="text" class="form-control" asp-for="Description" />
        <br />
        <label>Kategori Durumu</label>
        <input type="text" class="form-control" asp-for="Status" />
        <br />
        <button class="btn btn-info">Kategoriyi Ekle</button>
    </form>
</div>