[22:45] İstanbul Eğitim Akademi
@model CategoryViewModel

@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<div class="container">
    <br />
    <form method="post">
        <label>Kategori ID</label>
        <input type="text" class="form-control" asp-for="CategoryID" />
        <br />
        <label>Kategori Adı</label>
        <input type="text" class="form-control" asp-for="Name" />
        <br />
    </form>
</div>

